@model FixedAssetConsumeApi.Models.TblFaClassEntity
@{
    ViewBag.Title="Edit";
}
<h2>Edit Item</h2>
 
@using(Html.BeginForm("Update","Home" ,FormMethod.Post, new {}))
			{
	<div class="row">
	<div class="col-md-4">
		<form asp-action="EditFaclass">
			<div class="">
				@Html.HiddenFor(Model=> Model.Id)
				<label asp-for="ClassCode" ></label>
				<input asp-for="@Model.ClassCode" class="form-control" />
			</div>
			<div class="form-group">
				<label asp-for="CatCode" ></label>
				<input asp-for="@Model.CatCode" class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="ClassName" ></label>
				<input asp-for="@Model.ClassName" class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="DepMethod" ></label>
				<input asp-for="@Model.DepMethod" class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="DepRate" ></label>
				<input asp-for="DepRate " class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="LifeSpan" ></label>
				<input asp-for="LifeSpan " class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="Status" ></label>
				<input asp-for="Status " class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="UserId" ></label>
				<input asp-for="UserId" class="form-control" />

			</div>
			<div class="form-group">
				<label asp-for="AuthId" ></label>
				<input asp-for="AuthId" class="form-control" />

			</div>
			<div class="form-group">
				<input type="submit" value="Update" name="Update" class="btn btn-primary" />
				
			</div>
		</form>
	</div>
</div>
			}
